<section class="panel-container" id="follows-panel">
    <div class="panel-header">
        <span class="panel-title">{{data?.following ? 'Following' :  'Followers'}}</span>
        <mat-icon class="panel-close" mat-dialog-close>close</mat-icon>
    </div>

    <div class="panel-content">
        <div *ngIf="follows?.length else noFollows">
            <mat-list *ngIf="data?.following else Followers">
                <mat-list-item *ngFor="let follow of this.follows" class="cursor-pointer"
                               [routerLink]="['profile', follow.following?.id]"
                >
                    <img *ngIf="follow?.following?.profile_image?.url" [src]="follow?.following?.profile_image?.url"
                         class="profile-picture" mat-card-avatar>

                    <div *ngIf="!follow.following?.profile_image?.url" class="empty-profile-picture" mat-card-avatar>
                        <mat-icon>person</mat-icon>
                    </div>
                    <div class="d-flex flex-column ml-2">
                        <div><b>{{follow.following.handle}}</b></div>
                        <div>{{follow.following.name}}</div>
                    </div>
                </mat-list-item>
            </mat-list>
            <ng-template #Followers>
                <mat-list>
                    <mat-list-item *ngFor="let follow of this.follows" class="cursor-pointer"
                                   [routerLink]="['profile', follow.follower?.id]"
                    >
                        <img *ngIf="follow?.follower?.profile_image?.url" [src]="follow?.follower?.profile_image?.url"
                             class="profile-picture" mat-card-avatar>

                        <div *ngIf="!follow.follower?.profile_image?.url" class="empty-profile-picture" mat-card-avatar>
                            <mat-icon>person</mat-icon>
                        </div>

                        <div class="d-flex flex-column ml-2">
                            <div><b>{{follow.follower.handle}}</b></div>

                            <div>{{follow.follower.name}}</div>
                        </div>
                    </mat-list-item>
                </mat-list>
            </ng-template>
        </div>
        <ng-template #noFollows>
            <div class="d-flex justify-content-center align-items-center text-center mt-4">
                <b>No follows</b>
            </div>
        </ng-template>
    </div>
</section>

