.photo-post {
    //width: 600px;
    width: 600px;
    margin-bottom: 25px;

    .wall-photo {
        object-fit: cover;
        object-position: center;
        height: 400px;
    }

    .liked-by {
        a {
            width: fit-content !important;
            margin: 0 !important;
            padding: 0 !important;
        }
    }
}
