<mat-card class="photo-post">
    <mat-card-header class="mb-2">
        <img *ngIf="photo.user?.profile_image?.url"
             [routerLink]="['profile', photo.user_id]"
             [src]="photo.user?.profile_image?.url"
             class="profile-picture" mat-card-avatar>

        <div *ngIf="!photo.user?.profile_image?.url"
             class="empty-profile-picture" mat-card-avatar>
            <mat-icon>person</mat-icon>
        </div>
        <mat-card-title><a [routerLink]="['profile', photo.user_id]">{{photo.user.handle}}</a></mat-card-title>
    </mat-card-header>
    <img (click)="open(photo)"
         (dblclick)="toggleLike(photo?.id)"
         [src]="photo.image?.url"
         alt="Photo" class="wall-photo cursor-pointer" mat-card-image
    >
    <mat-card-content class="mb-0 pb-0">
        <div class="mb-2">
            <mat-icon (click)="toggleLike(photo?.id)"
                      [color]="photo?.liked ? 'accent' : '' "
                      class="cursor-pointer">{{ photo?.liked ? 'favorite' : 'favorite_outline'}}
            </mat-icon>
        </div>

        <div *ngIf="photo?.like_count && (photo?.like_count > 1 || !photo?.liked)" class="liked-by">
            Liked by <a [routerLink]="['profile', photo?.last_liked_by?.user.id]"
                        mat-flat-button>{{photo?.last_liked_by?.user?.handle}}
        </a>
            <span *ngIf="photo?.like_count > 1">
                        and<a (click)="showLikes(photo?.id)" mat-flat-button>{{photo?.like_count - 1}}
                other{{photo?.like_count > 2 ? 's' : ''}}</a>
                    </span>

        </div>

        <p #caption [ngClass]="{'text-truncate': true}" class="mt-2">{{photo?.caption}}</p>
        <mat-icon (click)="caption.classList.remove('text-truncate')"
                  *ngIf="caption.classList.contains('text-truncate') && photo?.caption?.length > 25"
                  class="cursor-pointer">
            keyboard_arrow_down
        </mat-icon>
        <div>
            <b *ngFor="let tag of photo?.tags" class="cursor-pointer">
                #{{tag}}
            </b>
        </div>
    </mat-card-content>
    <mat-card-footer class="p-3 pt-0">
        <div (click)="open(photo)" *ngIf="photo?.last_two_comments?.itemsTotal > 2" class="mb-2 cursor-pointer">View
            all {{photo?.last_two_comments?.itemsTotal}} comments...
        </div>
        <div *ngFor="let comment of photo?.last_two_comments?.items" class="comment">
            <div class="d-flex w-100 mb-2">
                <div>
                    <p class="m-0">
                        <b [routerLink]="['profile', comment?.user?.id]" class="cursor-pointer">{{comment?.user?.handle}}</b>
                        <span class="ml-1">{{comment?.comment}}</span>
                    </p>
                    <small class="m-0">{{comment?.created_at | amTimeAgo}}</small>
                </div>
                <button [matMenuTriggerFor]="menu" class="ml-auto" mat-icon-button>
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button (click)="deleteComment(comment, photo?.id)" *ngIf="allowDelete(comment, photo?.user_id)"
                            mat-menu-item>
                        <mat-icon>delete</mat-icon>
                        <span>Delete Comment</span>
                    </button>
                </mat-menu>
            </div>
        </div>
        <div class="w-100 mt-2">
            <mat-form-field class="w-100">
                <input (keydown.enter)="postComment(photo?.id)" [formControl]="commentInput" matInput
                       placeholder="Post a comment..."/>
                <button (click)="postComment(photo?.id)" *ngIf="commentInput?.value" color="primary" mat-button matSuffix>
                    Post
                </button>
            </mat-form-field>
        </div>
    </mat-card-footer>
</mat-card>
