<section class="panel-container">

    <div class="panel-header">
        <span class="panel-title">Post Photo</span>
        <mat-icon class="panel-close" mat-dialog-close>close</mat-icon>
    </div>

    <div class="panel-summary">
        Add or modify a photo below.
    </div>

    <div class="panel-content">
        <form [formGroup]="photoForm">
            <div class="mb-4">
                <ng-container *ngIf="photoForm.controls.image.value">
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <div class="flex-fill">
                            <img [src]="image?.url ?  image.url : image" class="image-upload"/>
                        </div>
                    </div>

                </ng-container>
                <ng-container *ngIf="!photoForm.controls.image.value">
                    <ng-container *ngIf="uploading">
                        <div class="d-flex align-items-center justify-content-center">
                            <mat-spinner></mat-spinner>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="!uploading">
                        <div (click)="fileUpload.click()"
                             class="d-flex flex-column justify-content-center align-items-center pt-2 image-upload-box">
                            <div>
                                <button mat-stroked-button type="button">
                                    <mat-icon>publish</mat-icon>
                                </button>
                            </div>
                            <div>
                                <h2>Upload Photo</h2>
                            </div>
                            <input #fileUpload (change)="upload($event)" accept="image/*" hidden type="file">
                        </div>
                    </ng-container>
                </ng-container>
            </div>

            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Caption</mat-label>
                <textarea formControlName="caption" matInput type="text"></textarea>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Tags</mat-label>
                <mat-chip-list #tagList>
                    <mat-chip (removed)="removeTag(tag)" *ngFor="let tag of tags" [removable]="true">
                        {{tag}}
                        <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
                    <input (matChipInputTokenEnd)="addTag($event)"
                           [matChipInputAddOnBlur]="true"
                           [matChipInputFor]="tagList"
                           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                           placeholder="+ Tag">
                </mat-chip-list>
            </mat-form-field>
        </form>
    </div>

    <div class="panel-footer">
        <button mat-flat-button *ngIf="data?.photo" color="warn" class="mr-auto"
                (click)="deletePhoto()"
        >
            <mat-icon>delete</mat-icon></button>
        <button (click)="submit()" color="primary" mat-flat-button>{{data?.photo ? 'Save' : 'Post'}}</button>
    </div>

</section>

