<app-header></app-header>

<div class="container mt-4">
    <mat-card class="p-4">
        <h2 class="header">{{title.getTitle()}}</h2>
        <p>{{appSummary}}</p>
        <app-action-bar></app-action-bar>
        <router-outlet></router-outlet>
    </mat-card>
</div>
