<section id="action-bar">
    <hr class="mt-4 mb-4"/>
    <div class="d-flex flex-column flex-md-row justify-content-end align-items-center">
        <div *ngIf="!isConfigured else configured" class="mr-auto">
            <button (click)="showPanel('config')"
                    color="primary" mat-flat-button>
                Test with your Xano account...
            </button>
            <a *ngIf="config.editLink" [href]="config.editLink" class="ml-4" mat-button target="_blank">
                {{config.editText}}
            </a>
        </div>

        <ng-template #configured>
            <button (click)="showPanel('auth')" *ngIf="!isLoggedIn else loggedInActions" color="primary"
                    mat-flat-button>
                Login / Signup
            </button>
            <ng-template #loggedInActions>
                <div class="mr-auto d-flex justify-content-center align-items-center">

                    <div *ngIf="!user?.profile_image?.url"
                            [routerLink]="['profile', user?.id]" class="empty-profile-picture mb-1" mat-card-avatar>
                        <mat-icon>person</mat-icon>
                    </div>

                    <img  [routerLink]="['profile', user?.id]"
                          *ngIf="user?.profile_image?.url" [src]="user.profile_image.url + '?tpl=small'"
                          class="profile-picture">
                    <a mat-flat-button [routerLink]="['profile', user?.id]">{{user?.handle}}</a>
                </div>
                <mat-form-field class="ml-auto mr-auto mt-2">
                    <mat-label>Search</mat-label>
                    <input type="text"
                           matInput
                           [formControl]="searchControl"
                           [matAutocomplete]="auto">
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                        <mat-option *ngFor="let result of searchResults" class="mt-1" [value]="result?.handle"
                            [routerLink]="['profile', result?.id]"
                        >
                            <div class="d-flex">
                                <img *ngIf="result?.profile_image?.url"
                                     [src]="result?.profile_image?.url + '?tpl=small'"
                                     class="profile-picture" mat-card-avatar>

                                <div *ngIf="!result.profile_image?.url" class="empty-profile-picture" mat-card-avatar>
                                    <mat-icon class="ml-3">person</mat-icon>
                                </div>
                                <span class="ml-2">{{result?.handle}}</span>
                            </div>
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <button *ngIf="!discoverPage"
                        [routerLink]="['discover']"
                        class="mr-1"
                        color="accent"
                        mat-stroked-button
                >
                    Discover
                </button>
                <button
                        *ngIf="!isHome" [routerLink]="['']"
                        class="mr-1"
                        color="primary"
                        mat-stroked-button>
                    Wall
                </button>
                <button (click)="showPanel('manage')" class="mr-1" color="accent" mat-stroked-button>
                    <mat-icon>add</mat-icon>
                    Photo
                </button>
                <button (click)="logout()" mat-stroked-button>
                    <mat-icon>subdirectory_arrow_left</mat-icon>
                    Logout
                </button>
            </ng-template>
        </ng-template>
    </div>
    <hr class="mt-4 mb-4"/>
</section>

