<section id="discover">
    <h2>Discover</h2>

    <div class="d-flex flex-wrap justify-content-between">
        <figure *ngFor="let photo of photos">
            <img (click)="open(photo)" [src]="photo.image?.url"
                 alt="Photo"
                 class="profile-photo mb-4"
            >
        </figure>
    </div>
</section>
