<section id="wall">
    <div class="d-flex flex-column justify-content-center align-items-center"
         infiniteScroll
         [infiniteScrollDistance]="2"
         [infiniteScrollThrottle]="50"
         (scrolled)="loadMore()"
         (scrolledUp)="loadMore()"
    >
        <ng-container *ngFor="let photo of photos">
            <app-wall-post [photo]="photo"></app-wall-post>
        </ng-container>
    </div>
</section>
