<section class="panel-container">

    <div class="panel-header">
        <span class="panel-title">{{config.title}}</span>
        <mat-icon class="panel-close" mat-dialog-close>close</mat-icon>
    </div>

    <div class="panel-summary">
        {{config.summary}}
    </div>

    <div class="panel-info">
        <h2>Information</h2>
        <p>
            This app requires authentication for viewing, editing, and
            creating entries in your database table login or click signup below.
        </p>

    </div>

    <div class="panel-content">
        <div *ngIf="showLoginView else signupView">
            <h1>Login</h1>
            <form [formGroup]="loginForm" class="d-flex flex-column">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input formControlName="email" matInput type="email"/>
                    <mat-error *ngIf="loginForm.controls.email.hasError('required')">
                        Email is required
                    </mat-error>
                    <mat-error *ngIf="loginForm.controls.email.hasError('pattern')">
                        Please enter a valid email
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input (keydown.enter)="submit()" formControlName="password" matInput type="password"/>
                    <mat-error *ngIf="loginForm.controls.password.hasError('required')">
                        Password is required
                    </mat-error>
                </mat-form-field>

                <p>Don't have an account?<a (click)="showLoginView = false" mat-button>Signup Now</a></p>

            </form>
        </div>

        <ng-template #signupView>
            <h1>Signup</h1>
            <form [formGroup]="signupForm" class="d-flex flex-column">
                <div class="mb-4">
                    <b>Profile Picture</b>
                    <ng-container *ngIf="signupForm.controls.profile_image.value">
                        <div class="d-flex flex-column justify-content-center align-items-center">
                            <div class="flex-fill">
                                <img [src]="image?.url ?  image.url : image" class="image-upload"/>
                            </div>
                            {{signupForm.controls.profile_image.value?.name}}
                            <button (click)="deleteImage()" color="warn" mat-button>
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>

                    </ng-container>
                    <ng-container *ngIf="!signupForm.controls.profile_image.value">
                        <ng-container *ngIf="uploading">
                            <div class="d-flex align-items-center justify-content-center">
                                <mat-spinner></mat-spinner>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="!uploading">
                            <div (click)="fileUpload.click()"
                                 class="d-flex flex-column justify-content-center align-items-center pt-2 image-upload-box">
                                <div>
                                    <button mat-stroked-button type="button">
                                        <mat-icon>publish</mat-icon>
                                    </button>
                                </div>
                                <div>
                                    <h2>Upload Photo</h2>
                                </div>
                                <input #fileUpload (change)="upload($event)" accept="image/*" hidden type="file">
                            </div>
                        </ng-container>
                    </ng-container>
                </div>
                
                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input formControlName="name" matInput type="text"/>
                    <mat-error *ngIf="signupForm.controls.name.hasError('required')">
                        Name is required
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Handle</mat-label>
                    <input formControlName="handle" matInput type="text"/>
                    <mat-error *ngIf="signupForm.controls.handle.hasError('required')">
                        Handle is required
                    </mat-error>
                    <mat-error *ngIf="signupForm.controls.handle.hasError('pattern')">
                        Only alphanumeric characters and underscores allowed.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input formControlName="email" matInput type="email"/>
                    <mat-error *ngIf="signupForm.controls.email.hasError('required')">
                        Email is required
                    </mat-error>
                    <mat-error *ngIf="signupForm.controls.email.hasError('pattern')">
                        Please enter a valid email
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input (keydown.enter)="submit()" formControlName="password" matInput type="password"/>
                    <mat-error *ngIf="signupForm.controls.password.hasError('required')">
                        Password is required
                    </mat-error>
                </mat-form-field>

                <p>Already have an account?<a (click)="showLoginView = true" mat-button>Login Now</a></p>

            </form>
        </ng-template>

    </div>

    <div class="panel-footer">
        <button (click)="submit()" color="primary" mat-flat-button>{{showLoginView ? 'Login' : 'Signup'}}</button>
    </div>

</section>
