#profile {
    .profile-photo {
        object-fit: cover;
        object-position: center;
        width: 325px;
        height: 325px;
    }

    .profile-photo:hover {
        cursor: pointer;
        filter: brightness(50%);
    }

    figcaption {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -200px;
        margin-bottom: 176px;

        * {
            z-index: 9999;
            color: white;
        }
    }
}
