<section id="profile">
    <div class="d-flex pl-3 pr-3 mb-4">
        <div>
            <div class="d-flex">
                <img *ngIf="user?.profile_image?.url" [src]="user?.profile_image?.url"
                     class="profile-picture" mat-card-avatar>

                <div *ngIf="!user?.profile_image?.url" class="empty-profile-picture" mat-card-avatar>
                    <mat-icon>person</mat-icon>
                </div>

                <div class="ml-3">
                    <h2 class="m-0">{{user?.handle}}</h2>
                    <p>{{user?.name}}</p>
                </div>
            </div>
            <div>
                <a mat-button (click)="openFollowsPanel(user.id, false)">
                    <b>{{user?.followers_count}}</b> Followers</a>
                <a mat-button (click)="openFollowsPanel(user.id, true)">
                    <b>{{user?.following_count}}</b> Following</a>
            </div>
        </div>


        <div class="ml-auto">
            <button (click)="toggleFollow()" *ngIf="userSelf && userSelf?.id !== user?.id"
                    [color]="user?.followed ? 'accent' : ''"
                    mat-stroked-button
            >
                <mat-icon>{{user?.followed ? 'person_remove' : 'person_add'}}</mat-icon>
                {{user?.followed ? 'Unfollow' : 'Follow'}}
            </button>
        </div>
    </div>
    <hr/>

    <div class="d-flex flex-wrap justify-content-around">
        <figure *ngFor="let photo of photos">
            <img (click)="open(photo)"
                    (mouseleave)="showCaptionFor = null" (mouseover)="showCaptionFor = photo?.id" [src]="photo.image?.url"
                 alt="Photo"
                 class="profile-photo mb-4"
            >
            <figcaption *ngIf="showCaptionFor === photo?.id">
                <mat-icon>favorite</mat-icon>
                <b class="ml-2">{{photo?.like_count}}</b>
            </figcaption>
        </figure>
    </div>
</section>
