.panel-photo {
    object-fit: cover;
    margin: 0 auto;
    object-position: center;
    width: 100%;
    height: 40vh;
}

.panel-container .liked-by {
    a {
        width: fit-content !important;
        margin: 0 !important;
        padding: 0 !important;
        background: transparent;
        color: whitesmoke;
    }
}
