<section class="panel-container">

    <div class="panel-header">
        <div *ngIf="data.photo && userSelf && data.photo.user_id === userSelf.id" class="mr-2">
            <mat-icon class="cursor-pointer" (click)="editPhoto()">edit</mat-icon>
        </div>
        <span class="panel-title">Photo</span>
        <mat-icon class="panel-close" mat-dialog-close>close</mat-icon>
    </div>

    <div class="panel-content">
        <div class="d-flex mb-4">
            <div *ngIf="!data?.photo?.user?.profile_image?.url"
                 [routerLink]="['profile', data?.photo?.user?.id]"
                 class="empty-profile-picture" mat-card-avatar>
                <mat-icon>person</mat-icon>
            </div>
            <img  *ngIf="data?.photo?.user?.profile_image?.url" [routerLink]="['profile', data?.photo?.user?.id]"
                  alt="profile pic"
                    [src]="data?.photo?.user?.profile_image?.url + '?tpl=med'" class="profile-picture cursor-pointer"/>
            <a [routerLink]="['profile', data?.photo?.user?.id]"
               mat-button
               mat-dialog-close
            >{{data.photo?.user?.handle}}
            </a>
        </div>
        <img [src]="data?.photo?.image?.url" class="panel-photo">

        <div class="mb-2 mt-2">
            <mat-icon (click)="toggleLike(data.photo.id)"
                      [color]="data.photo?.liked ? 'accent' : '' "
                      class="cursor-pointer">{{ data.photo?.liked ? 'favorite' : 'favorite_outline'}}
            </mat-icon>
        </div>

        <div  *ngIf="(data?.photo?.like_count > 1 && data?.photo?.liked) || (data?.photo.like_count > 0 && !data?.photo.liked)"
              class="liked-by">
            Liked by <a [routerLink]="['profile', data.photo.last_liked_by?.user.id]"
                        mat-flat-button>{{data.photo?.last_liked_by?.user.handle}}
        </a>
            <span *ngIf="data.photo.like_count > 1">
                            and<a (click)="showLikes(data.photo.id)" mat-flat-button>{{data.photo.like_count - 1}}
                    other{{data.photo.like_count > 2 ? 's' : ''}}</a>
                        </span>

        </div>

        <p>{{data.photo.caption}}</p>

        <mat-chip-list>
            <mat-chip *ngFor="let tag of data.photo.tags" color="primary" selected>#{{tag}}</mat-chip>
        </mat-chip-list>
    </div>

    <div class="m-4">
        <app-comments [photoOwnerID]="data.photo.user_id" [photoID]="data.photo.id"></app-comments>
    </div>

</section>

