<section id="home">
    <div *ngIf="!configured else Wall">
        <div [innerHTML]="config.descriptionHtml | safeHtml"></div>
    </div>
    <ng-template #Wall>
        <app-wall *ngIf="loggedIn else Login"></app-wall>
        <ng-template #Login>
            <div class="d-flex flex-column justify-content-center align-items-center">
                <h2>Welcome to the Xano Photosharing Template Demo</h2>
                <p>Login to see your wall!</p>
                <p>If you don't have an account you can use the signup option.</p>
            </div>
        </ng-template>
    </ng-template>
</section>
