<section id="comments">
    <div class="d-flex flex-column">
        <div class="comment-box"
             infiniteScroll
             [infiniteScrollDistance]="1"
             [scrollWindow]="false"
             [infiniteScrollThrottle]="1"
             (scrolled)="loadMore()"
             (scrolledUp)="loadMore()"
        >
            <div *ngFor="let comment of comments" class="comment">
                <div class="d-flex w-100 mb-2">
                    <div>
                        <p class="m-0">
                            <b>{{comment.user?.handle}}</b>
                            <span class="ml-1">{{comment.comment}}</span>
                        </p>
                        <small class="m-0">{{comment.created_at | amTimeAgo}}</small>
                    </div>
                    <button mat-icon-button [matMenuTriggerFor]="menu" class="ml-auto">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="deleteComment(comment)" *ngIf="allowDelete(comment)">
                            <mat-icon>delete</mat-icon>
                            <span>Delete Comment</span>
                        </button>
                    </mat-menu>
                </div>
            </div>
        </div>
        <div class="w-100 mt-2">
            <mat-form-field class="w-100">
                <input matInput [formControl]="commentInput" placeholder="Post a comment..."
                       (keydown.enter)="postComment()"/>
                <button matSuffix mat-button color="primary" *ngIf="commentInput.value" (click)="postComment()">Post
                </button>
            </mat-form-field>
        </div>
    </div>
</section>
