<section class="panel-container">

    <div class="panel-header">
        <span class="panel-title">Photo Likes</span>
        <mat-icon class="panel-close" mat-dialog-close>close</mat-icon>
    </div>

    <div class="panel-content">
        <mat-list class="pt-4 pb-4">
            <mat-list-item *ngFor="let like of likes" class="like-list-item cursor-pointer"
                           [routerLink]="['profile', like.user_id]"
                           mat-dialog-close
            >
                <img *ngIf="like.user?.profile_image?.url" [src]="like.user?.profile_image?.url"
                     class="profile-picture" mat-card-avatar>

                <div *ngIf="!like.user?.profile_image?.url" class="empty-profile-picture" mat-card-avatar>
                    <mat-icon>person</mat-icon>
                </div>

                <div class="ml-2">{{like.user.handle}}</div>
            </mat-list-item>

        </mat-list>
    </div>
</section>

